#fixed-header {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  box-shadow: 0px 1px 5px rgba(100, 100, 100, 0.25);
  z-index: 1000;

  .header {
    padding: 10px 30px;
  }
}

@include media-breakpoint-up(sm) {
  .header {
    @include clearfix;
    max-width: 700px;
    margin: 0 auto;
  }
  .header-brand {
    float: left;
  }
  .header-nav {
    float: right;
  }
}

.header {
  padding: 30px;
  text-align: center;
}

.header-brand {
  display: block;
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: 500;
  line-height: 1.1;
  color: $body-color;
  &:hover {
    color: $body-color;
    text-decoration: none;
  }
}

.header-nav a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 0;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  color: rgba($body-color, .50);
  &:hover {
    background-color: transparent;
    border-bottom-color: rgba($body-color, .25);
  }
  &.active {
    color: $body-color;
    border-bottom-color: $body-color;
  }
  & + a {
    margin-left: 20px;
  }
}
