.writing {
  font-size: 1.125rem;
}

.post-item {
  margin-bottom: 15px;
}

.post-item-main {
  display: flex;
  flex-direction: column;
}

.post-item-date {
  color: #818a91;
  font-size: 0.8em;
}

.post-item-description {
  font-size: 0.8em;
}

.post-section {
  margin-bottom: 25px;
}

.recommended-posts {
  margin-bottom: 40px;
}

@media (min-width: 544px) {
  .post-item {
    margin-bottom: 10px;
  }

  .post-item-main {
    flex-direction: row;
    justify-content: space-between;
  }

  .post-item-title {
    order: 1;
  }

  .post-item-date {
    order: 2;
    font-family: "Droid Sans Mono", monospace;
    font-size: 1em;
    flex-shrink: 0;
    margin-left: 20px;
  }

  .post-item-description {
    padding-right: 100px;
  }

  .recommended-posts .post-item-description {
    padding-right: 0;
  }
}
