$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "bootstrap";
@import "header";

.main {
  max-width: 700px;
  padding: 0 15px;
  margin: 0 auto;
}

.intro {
  text-align: center;
  margin: 50px 0 30px 0;
  .title {
    text-transform: uppercase;
  }
}

.event {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.event-image img {
  max-width: 200px;
  height: auto;
}

.event-description {
  max-width: 400px;
  padding: 20px 0;
}

@media (min-width: 544px) {
  .event {
    flex-flow: row nowrap;
  }

  .event-description {
    padding: 20px 0 20px 20px;
  }
}
