$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "bootstrap";
@import "header";
@import "blog";

.intro {
  text-align: center;
  margin: 50px 0 30px 0;
  padding: 0 15px;
  .title {
    text-transform: uppercase;
    font-size: 4rem;
    font-family: "Questrial", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.item {
  display: flex;
  flex-flow: column wrap;
  padding: 10px 0;
}

.media {
  width: 100%;
  img {
    width: 100%;
  }
}

.text {
  padding: 15px 20px 40px 20px;
  p:last-of-type {
    margin-bottom: 0;
  }
}

.details {
  text-align: center;
}

.title {
  font-weight: bold;
}

.subtitle {
  color: #818a91;
  margin-bottom: 0.5em;
  a {
    color: #818a91;
    text-decoration: underline;
  }
}

@media (min-width: 544px) {
  .main {
    max-width: 800px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .item {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
  }

  .media {
    width: 50%;
    margin-top: 10px;
  }

  .text {
    width: 50%;
    padding: 10px 0 10px 20px;
  }

  .details {
    text-align: left;
  }
}

.entry-item-date {
  font-family: "Droid Sans Mono", monospace;
  display: inline-block;
  width: 120px;
}
