.post {
  margin-bottom: 15px;
}

.post-main {
  display: flex;
  flex-direction: column;
}

.post-date {
  color: #818a91;
  font-size: 0.8em;
}

.post-description {
  font-size: 0.8em;
}

.post-section {
  margin-bottom: 25px;
}

.recommended-posts {
  margin-bottom: 40px;
}

@media (min-width: 544px) {
  .post {
    margin-bottom: 10px;
  }

  .post-main {
    flex-direction: row;
    justify-content: space-between;
  }

  .post-title {
    order: 1;
  }

  .post-date {
    order: 2;
    font-family: "Droid Sans Mono", monospace;
    font-size: 1em;
    flex-shrink: 0;
  }

  .post-description {
    padding-right: 100px;
  }

  .recommended-posts .post-description {
    padding-right: 0;
  }
}
