.entry-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.entry-item-date {
  color: #818a91;
  font-size: 0.8em;
}

.entry-section {
  margin-bottom: 25px;
}

.recommended-posts {
  margin-bottom: 40px;
}

@media (min-width: 544px) {
  .entry-item {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .entry-item-date {
    font-family: "Droid Sans Mono", monospace;
    font-size: 1em;
    flex-shrink: 0;
  }
}
