---
title: Art and Ego
date: 2012-12-07
tags:
---

<%= image_tag "blog/art-and-ego.jpg" %>
<span class="image-caption">Image credit: <a href="https://www.flickr.com/photos/maxbraun/4044274147/">maxbraun</a></span>

In my high school’s philosophy class, I watched *My Kid Could Paint That*, a documentary about a four-year-old who took the art world by storm and sold her paintings for tens of thousands of dollars. I remember sitting there in the dark classroom, thinking that all these art critics were absolutely nuts for believing that a four-year-old’s random splashes of paint were the works of a child prodigy. It bothered me quite a bit.

I wandered around a couple art galleries today and came across a framed piece of paper with some shapes cut out of it. I didn’t get why it was so special. Would people still appreciate this work if it were not in a gallery? Does it matter if they wouldn’t?

I’ve noticed that when I don’t understand something, I tend to discredit it as being insignificant and not worthy of my time. After all, it’s the easy way to protect my ego. I thought people who looked at splatters of paint on a canvas and saw “something more” were just being pretentious and making things up to impress their friends. If I wasn’t able to understand something, then obviously no one else could either, right?

I still don’t “get” abstract art. But it stopped being a big deal. It doesn’t speak to me and I don’t appreciate it, but that doesn’t mean it can’t speak to other people. I’ve come to recognize that my habit of dismissing anything I didn’t understand was just a manifestation of my insecurities; all I can do is remind myself that I don’t have to understand everything. Things can and will change. Who knows, maybe one day I’ll look at a Jackson Pollock and think, “Wow, that’s beautiful”. Maybe.
