---
title: How to Borrow a Stranger’s Phone
date: 2012-11-28
tags:
---

<%= image_tag "blog/borrow-phone.jpg" %>
<span class="image-caption">Image credit: <a href="https://www.flickr.com/photos/camknows/4781777293/">camknows</a></span>

A man walked up to me today and asked if he could borrow my phone because his had just died. He was supposedly looking for a friend nearby. When I asked him for his friend’s number, he easily recited a phone number by memory. As trusting as I am of people, this was a red flag for me because it was surprising that he had his friend’s phone number so readily memorized. I only know one friend’s number by memory, and that’s because we were super best friends and I talked with him on the phone pretty much all the time during junior high. Good times. I don’t even have my sister’s phone number memorized. Sorry, Esther.

The stranger sensed my hesitation, and he did something I’ve never seen anyone do in the history of people borrowing my phone: he put his wallet in my hand. This immediately made me comfortable trusting him with my phone, because I now held a valuable of his. I’m surprised that this had never crossed my mind before.

Now when people ask to borrow my phone, I’m going to ask them for their wallet or their ID. If they’re unwilling to let me hold on to either of those things, then I have no reason to trust them with my valuables either. And when I’m stuck in the unfortunate situation of having to borrow a stranger’s phone, I finally know of a convincing way to persuade them to trust me. Thanks, stranger.
