---
title: "Canvassing: How to Respond to Rebuttals"
date: 2012-12-04
tags:
---

<%= image_tag "blog/canvassing.png" %>
<span class="image-caption">Image credit: <a href="https://www.flickr.com/photos/anders-vindegg/3408838186/in/photostream/">Anders V</a></span>

There are some common rebuttals that people make when asked to donate:

- “I’m broke”
- “I want to talk with my partner”
- “I’ll donate later on the website”
- etc.

The technique that my canvassing agency teaches for responding to these rebuttals is called EAST.

- E - Empathy (empathize with their concern)
- A - Address (address their concern)
- S - Story (share a story)
- T - Tell (call-to-action)

Let me give you an example. If someone tells me that they can’t donate because they’re broke, a response using EAST would be the following:

“Hey man, I completely understand where you’re coming from. Times are hard, and I’m broke myself. You support the work we do, right?”
*Wait for the inevitable yes*
“Awesome, that’s exactly why we’re out here. One more thing I love about (charity) is (supplemental story). That’s why I would love to get you involved today!”

The supplemental story always tugs at the heartstrings, and you can follow it up with “that’s an amazing story, right?” so that you get the person in a mindset of saying “yes” to you.

I tend to be an extremely logical thinker and talk to people in ways that would be effective on myself. As a result, I’ve had people in the agency tell me that I spend too much time on the “address” part and not enough on the “story” part. If you think about it, the “story” step shouldn’t even be involved in responding to a rebuttal; it should be sufficient that you logically address someone’s concerns and then proceed to the call-to-action.

It turns out that the “story” component is the most important part of the entire EAST response. I didn’t understand why at first, but it makes sense once you realize that the decision to give to a charity is driven much more powerfully by pathos rather than logos. In other words, emotions play a much bigger role than logical thinking when it comes to donating. A study mentioned in this [2011 article on why we give to charity](http://t.umblr.com/redirect?z=http%3A%2F%2Fwww.bostonglobe.com%2Fideas%2F2011%2F12%2F04%2Fwhy-give-charity%2Fyk1Kk9Ovbhp5VHQxPP7BsM%2Fstory.html&t=Y2ExZWFlZGU4NzE1ZjQ3ZmU1OGJiMzVmOTQ4OTQyMmRmOWFkODQxNSx4Q0NYMkI5cg%3D%3D&b=t%3Aw6Pq04OFkCZqEO4CU2IAnQ&p=https%3A%2F%2Fdskang.tumblr.com%2Fpost%2F37177030300%2Fcanvassing-how-to-respond-to-rebuttals&m=1) showed that “when people were given more facts and statistics about the problem a charity was trying to address, they actually became less likely to donate”. Funny how that is.

Sometimes I’ll empathize with someone too much to not even bother responding to a rebuttal. For example, a lady I talked with today told me that she didn’t feel comfortable making monthly donations because she was unsure of her job security for the next couple of months. Some people will tell you that they’re “broke” when they’re actually not, and that’s when I usually tell them that even a little bit goes a long way. But with this woman, it was clear that she really wanted to donate but really didn’t have the financial security to do so. I told her that I understood, gave her a hug, and wished her a nice day.

It’s difficult to draw the line between when to push harder and when to back off, but that’s a judgment call that canvassers have to learn to make on a daily basis. After all, being a decent person is important.
