---
title: My High School Graduation Speech
date: 2012-12-11
tags:
---

<%= image_tag "blog/chipotle.png" %>
<span class="image-caption">Image credit: <a href="https://www.flickr.com/photos/bubbletea/7731277582/">bubbletea1</a></span>

Despite not being valedictorian, I gave a speech at my high school’s graduation. Here it is.

> The Secret Ingredients of High School
>
> Now that we’re finally sitting here, we can take the time to look back on the last four years and thank the ones who mean the most to us. Without them, we wouldn’t be here today. They worked hard to put food on the table. They provided comfort in our greatest moments of distress. They gave us hope when our worlds were falling apart. That’s right, I’m talking about the good folks down at Chipotle.
>
> In many ways, going through high school is like making a burrito. The tortilla – it’s the school itself. It holds everything together, and the burrito just wouldn’t be possible without it. The beans are the classes we take – whether you choose black or pinto, you’re still going to experience some discomfort and suffering, if you know what I mean. But in the end, they provide the fiber and protein we need to grow stronger and smarter. The administrators make up the lettuce. Many of us might not like those green veggies, but they know what’s best for us. And now, onto the important stuff– the meat. That serving of sizzling chicken, steak, or carnitas that melts in your mouth is what really defines the burrito. What’s the single most essential part of the high school experience? It’s the friends and connections you make. If nothing else, you’ll always have the companions who made high school enjoyable. They’re the ones who secretly brought you melon flavored ice cream and shaved ice in a cup when you were sick at home. They’re the ones with whom you’re going to celebrate when the Lakers win tonight. Vegetarians may disagree, but for me, a burrito without meat would just not be worth eating.
>
> Many of us chose to participate in extracurriculars such as sports and clubs. That’s the guacamole. It’s completely optional and costs a bit extra, but it fills that special craving and makes the sacrifices worthwhile. If you like keeping things a bit spicy, there’s always salsa. We’re all going to miss the zesty school dances and how math class would be interrupted because some guy wanted to sing “Hey, Soul Sister” to ask a girl to prom. Add some Tabasco sauce, and you get all the gossip, drama, and backstabbing that really sets your tongue and emotions on fire. But it’s all a part of the experience. Another ingredient that can’t be forgotten: corn. That sweet, juicy goodness just can’t be found in any other ingredient. The corn is the bond of love and friendship that unites us all together. Oh, I’m sorry. Was that too… corny? And the cheese – it’s our beloved teachers who teach us the infamous graph dance, make us delicious pancakes, tell us about their newborn son, and give us overly generous deadlines on Turnitin.com. They toil day and night so we can become better individuals and the leaders of tomorrow. Oh, wait a second. Was that too… cheesy? And with this, our burrito is complete. Now that we are finished with high school, we can finally sit down and unravel the foil covering our steaming burrito. And when you take a bite of the tortilla, beans, meat, salsa, corn, cheese, and lettuce together? Oh man. That mind-blowing flavor is what really makes Troy High School unforgettable. Thank you.

Alright, time for some reflection and to recall memories from that day.

- Right before the speech, I asked a friend to bring me a burrito from Chipotle so I can eat it on stage right after giving the speech. Sadly, I have no recollection of whether I did or not.
- During that first paragraph, I saw a ton of students roll their eyes and slump into their seats because they thought I was going to talk about how awesome our parents are. I got ‘em good.
- The corny and cheesy parts got good laughs, thank goodness.
- I’m still obsessed with Chipotle.
- I actually completely forgot about rice as an ingredient during the entire time I thought of, wrote, and gave this speech. Someone told me afterward that the rice should have been the sea of Asian students at Troy.
- The line “Vegetarians may disagree, but for me, a burrito without meat would just not be worth eating” is especially funny now because I no longer eat meat. Chipotle is still delicious.
