---
title: A Short Chapter
date: 2012-12-05
tags:
---

<%= image_tag "blog/short-chapter.jpg" %>
<span class="image-caption">Image credit: <a href="https://www.flickr.com/photos/wiesmann/195209391/">wiesmann</a></span>

Let’s start with the bad news. My work with the fundraising agency ended today because I didn’t meet my quota during my 5-day evaluation period.

I have mixed feelings. On one hand, I’m disappointed that I wasn’t wildly successful with this job as it’s one that I found very interesting. I wish there were ways to figure out what I could’ve done differently, but it’s very hard to get feedback on why people don’t stop to talk or aren’t convinced after talking with me. I also suspect that looking as young as I do isn’t exactly helpful for persuading people to part with their money. Mostly, I’m bummed out that I won’t be able to further cultivate friendships with all the cool people that I’ve worked with so far. The agency is filled with all sorts of interesting people: an ex-Marine who is in love with traveling, a talented musician who makes amazing house music, a “life of the party” kind of guy who rolls his own cigarettes, a very personable guy with a passion for playing in a band and producing films, an intelligent girl who’s destined to do big things with nonprofits (she also has eyes that can melt you like butter) – the list goes on. You can imagine that people who voluntarily choose to talk to other people all day tend to be more interesting than not. I’m glad that I got to know a few of these characters well enough that I know we’ll hang out in the future, but working with them and the others for a bit longer would have been nice.

On the other hand, I think I’ve experienced most of what canvassing has to offer for my personal growth. Canvassing is an emotionally stimulating job with very little intellectual stimulation. I’m sure that if you actively tried to apply psychological concepts to your work you would be able to tax your mind a bit, but even then you would use your people skills a lot more than your analytical skills. This is not to knock canvassers in any way, but canvassing is a repetitive job that you can get a good feel for in a couple full days of work. Sure, you move to a different location and talk with different kinds of people, but you mostly do the same exact thing in just different places. I’ve become a lot more comfortable at trying to get a stranger’s attention and asking them for money (for a good cause, of course). I’m sure that I would be able to hone my people skills a lot more if I were to stay on for a couple more months, but the “shock” of this job has worn off and I’m happy with the progress I’ve made. Canvassing for a week was an entirely positive and rewarding experience.

Now it’s time to think look forward. What comes next?

I have many options in mind, and I’ve decided that no matter what, I’m going to travel for a while outside of the States. I’m still not sure when I’d like to embark on that adventure and whether I’d like to try a couple more non-tech jobs in the city that would will help me grow as a person. I’m thinking of waiting tables and seeing how I like that. It’s definitely strange looking for jobs not in terms of pay but in terms of how much I can learn and take away from the experience; it makes me feel like an impostor or an undercover journalist in a way. I’m extremely fortunate that I even have the luxury to view jobs in this way.

With one chapter ending, another one begins.
