<div class="container">
  <div class="intro">
    <h2 class="display-4 title">Story of my life</h2>
    <small>because being here obviously means you want to know absolutely everything about me</small>
  </div>
</div>
