<div class="container">
  <div class="intro">
    <h2 class="display-4 title">Story of my life</h2>
    <small class="text-muted">because being here obviously means you want to know absolutely everything about me</small>
  </div>
  <% data.events.each do |event, info| %>
  <div class="row">
    <div class="col-sm-6">
      <div class="event-image">
        <%= image_tag info.image %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="event-description">
        <div>
          <%= info.description %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
