<div class="main">
  <div class="intro">
    <h2 class="display-4 title">Story of my life</h2>
    <small class="text-muted">because being here obviously means you want to know absolutely everything about me</small>
  </div>
  <% data.events.each do |event, info| %>
  <div class="event">
    <div class="event-image">
      <% if info.image %>
        <%= image_tag info.image %>
      <% else %>
        <div class="no-image"></div>
      <% end %>
    </div>
    <div class="event-description">
      <p class="event-time">
        <% if info.age %>
          <%= pluralize(info.age, "year") %> old
          &middot;
        <% end %>
        <%= info.date %></p>
      <%= info.description %>
    </div>
  </div>
  <% end %>
</div>
