<div class="main">
  <div class="intro">
    <h1 class="title">Projects</h1>
    <small class="text-muted">sometimes i make stuff and put it on the interwebs</small>
  </div>
  <div class="project">
  </div>
</div>
